
.iframe-highlight {
	height: 0;
	width: 0;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	z-index: 9999;
}
.iframe-select-highlight {
	background-color: rgba(255,187,0,0.3);
	border: 1px solid orange;
}

.iframe-drop-highlight {
	border:1px solid blue;
}

/* Width/height handles */
.iframe-resize-handle {
	position: absolute;
	width: 10px;
	height: 10px;
	background: orange;
}
