[submodule "enyo"]
	path = enyo
	url = ../../enyojs/enyo
[submodule "lib/layout"]
	path = lib/layout
	url = ../../enyojs/layout
[submodule "lib/onyx"]
	path = lib/onyx
	url = ../../enyojs/onyx
[submodule "lib/extra"]
	path = lib/extra
	url = ../../enyojs/extra
[submodule "lib/foss/backbone"]
	path = lib/foss/backbone
	url = ../../documentcloud/backbone.git
[submodule "lib/foss/underscore"]
	path = lib/foss/underscore
	url = ../../documentcloud/underscore.git
[submodule "lib/foss/ace-builds"]
	path = lib/foss/ace-builds
	url = ../../ajaxorg/ace-builds.git
[submodule "node_modules/ares-generator"]
	path = node_modules/ares-generator
	url = ../../enyojs/ares-generator.git
[submodule "lib/enyo-ilib"]
	path = lib/enyo-ilib
url=../../enyo-ilib.git