$*
*.orig
*.rej
*~
.#*#
.*.orig
.*.rej
.DS_Store
._*
.project
/_ares
/ide.log
/node_modules/.bin
/node_modules/archiver
/node_modules/ares-webos-sdk
/node_modules/async
/node_modules/base64-stream/
/node_modules/busboy
/node_modules/combined-stream
/node_modules/dropbox
/node_modules/express
/node_modules/graceful-fs
/node_modules/hpacs-ares-plugin
/node_modules/jshint
/node_modules/less
/node_modules/mime
/node_modules/mkdirp
/node_modules/mocha
/node_modules/nopt
/node_modules/npmlog
/node_modules/npmlog
/node_modules/phonegap-build-api
/node_modules/plugin-ares-*
/node_modules/request
/node_modules/rimraf
/node_modules/semver
/node_modules/shelljs
/node_modules/should
/node_modules/temp
/node_modules/tunnel
/project.json
test/root
