[submodule "enyo"]
	path = enyo
	url = ../enyo
[submodule "lib/layout"]
	path = lib/layout
	url = ../layout
[submodule "lib/onyx"]
	path = lib/onyx
	url = ../onyx
[submodule "lib/extra"]
	path = lib/extra
	url = ../extra
[submodule "lib/foss/backbone"]
	path = lib/foss/backbone
	url = ../../documentcloud/backbone.git
[submodule "lib/foss/underscore"]
	path = lib/foss/underscore
	url = ../../documentcloud/underscore.git
[submodule "node_modules/phonegapbuildapi"]
	path = node_modules/phonegapbuildapi
	url = git@github.com:enyojs/phonegapbuildapi
[submodule "lib/g11n"]
	path = lib/g11n
	url = ../g11n.git
