.inspector-field-caption {
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 4px;
}

.inspector-field-editor {
	width: 5rem;
}

.inspector-size-editor {
	width: 5rem;
}

input.inspector-field-checkbox {
	margin: 6px 0 10px 0;
}

.onyx-radiobutton.inspector-tabbutton {
	font-size: 10px;
	padding: 5px; 
	background-color: #CCC; 
	text-transform: uppercase; 
}
.onyx-radiobutton.inspector-tabbutton.active {
	color:black;
}

.halves {
	width: 50%;
}
.thirds {
	width: 33%;
}
.thirds:last-child {
	width: 34%;
}
.fourths {
	width: 25%;
}

.ares-inspector-row {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}

.ares-inspector-row * {
	display: inline-block;
	vertical-align: middle;
}


.ares-inspector-row.disabled .enyo-checkbox,
.ares-inspector-row.disabled > div {
	opacity: 1;
}
.ares-inspector-row.disabled * {
	opacity: 0.6;
}

.event-menu-item {
  display: block;
  padding: 2px;
}

.inspector-event-button { width: 74px; height: 21px; padding:2px;}
.inspector-event-button:before {
	content: url(../../../ares/assets/images/smallArrowDown.png);
}

.inspector-color-button {
	height: 19px;
	width: 69px;
	border: 1px solid Black;
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}
