.inspector-field-caption {
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 4px;
}

.inspector-field-editor {
	width: 7rem;
}

input.inspector-field-checkbox {
	margin: 6px 0 10px 0;
}

.onyx-radiobutton.inspector-tabbutton {
	font-size: 12px;
	padding: 5px; 
	background-color: #CCC; 
	text-transform: uppercase; 
}
.onyx-radiobutton.inspector-tabbutton.active {
	color:black;
}

.thirds {
	width: 33%;
}

.thirds:last-child {
	width: 34%;
}

.halves {
	width: 50%;
}

.ares-inspector-row {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}

.ares-inspector-row * {
	display: inline-block;
}


.ares-inspector-row.disabled .enyo-checkbox,
.ares-inspector-row.disabled > div {
	opacity: 1;
}
.ares-inspector-row.disabled * {
	opacity: 0.6;
}



/* ------- Position Editor ------- */
.ares-inspector-position-editor {
	width: 280px;
	height: 200px;
	border: 1px solid #4c4c4c;
	position: relative;
	margin: 10px auto;
	display: block;
}

.ares-inspector-position-editor-inner-box {
	width: 140px;
	height: 100px;
	border: 1px solid #4c4c4c;
	position: absolute;
	top: 49px;
	left: 69px;
}

.ares-inspector-position-editor .anchor-toggle {
	cursor: pointer;
}

.ares-inspector-position-editor .top-toggle,
.ares-inspector-position-editor .bottom-toggle {
	width: 50px;
	position: absolute;
	left: 115px;
}
.ares-inspector-position-editor .top-toggle {
	height: 49px;
	top: 0px;
}
.ares-inspector-position-editor .bottom-toggle {
	height: 47px;
	bottom: 0px;
}
.ares-inspector-position-editor .top-toggle > *,
.ares-inspector-position-editor .bottom-toggle > * {
	margin: auto;
	width: 1px;
	height: inherit;
}

.ares-inspector-position-editor .left-toggle,
.ares-inspector-position-editor .right-toggle {
	width: 69px;
	height: 50px;
	position: absolute;
	top: 75px;
}
.ares-inspector-position-editor .left-toggle {
	left: 0px;
}
.ares-inspector-position-editor .right-toggle {
	right: 0px;
}
.ares-inspector-position-editor .left-toggle > *,
.ares-inspector-position-editor .right-toggle > * {
	margin: 25px 0px;
	height: 1px;
	width: inherit;
}

.ares-inspector-position-editor .width-toggle {
	width: 140px;
	height: 50px;
	position: absolute;
	top: 25px;
	left: 0px;
}
.ares-inspector-position-editor .width-toggle > * {
	margin: 25px 0px;
	height: 1px;
	width: inherit;
}

.ares-inspector-position-editor .height-toggle {
	width: 69px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 36px;
}
.ares-inspector-position-editor .height-toggle > * {
	margin: auto;
	width: 1px;
	height: inherit;
}

.ares-inspector-position-editor .anchor-line {
	background: #4c4c4c;
}
.ares-inspector-position-editor .anchor-line.disabled {
	background: #ccc;
}



/* ------- LayoutKind Popup ------- */
.layout-kind-select .onyx-popup-decorator {
	display: inline-block;
}
.layout-kind-select .onyx-picker-decorator .onyx-button {
	width: 155px;
}
