.inspector-field-caption {
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 4px;
}

.inspector-field-editor {
	width: 7rem;
}

input.inspector-field-checkbox {
	margin: 6px 0 10px 0;
}

.onyx-radiobutton.inspector-tabbutton {
	font-size: 12px;
	padding: 5px; 
	background-color: #CCC; 
	text-transform: uppercase; 
}
.onyx-radiobutton.inspector-tabbutton.active {
	color:black;
}

.thirds {
	width: 33%;
}

.thirds:last-child {
	width: 34%;
}

.halves {
	width: 50%;
}

.ares-inspector-row {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}

.ares-inspector-row * {
	display: inline-block;
}


.ares-inspector-row.disabled .enyo-checkbox,
.ares-inspector-row.disabled > div {
	opacity: 1;
}
.ares-inspector-row.disabled * {
	opacity: 0.6;
}