.ares-project-list-menu { list-style-type:none; padding:0; margin:0; }

.ares-project-list-menu li {
    padding: 0 0 0 15px;
    cursor: hand;
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid @ares-project-list-border-color;
    font-size: 16px;
    font-weight: light;
    color: @ares-project-list-text-color;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

.ares-project-list-menu li.on {
    box-shadow:inset 0px 0px 30px rgba(0,0,0,0.2);
    background: @ares-project-list-background-on;
}

.ares-project-list-menu li.hover { background-color:@ares-backgound-hover; }

.ares-project-list-menu li.active { background-color:@ares-project-list-background-active; box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3); }

.ares-project-list-menu li.selected { background-color: @ares-project-list-background-selected; }

.ares-project-list-menu li.on.selected { background-color:inherit; }

.ares-project-list-menu-menu li.on.hover { background-color:inherit; }

.ares-project-list-menu li.on.active { background-color:inherit; }

.aresmenu { z-index:11; text-align:center; margin: 0px ! important; }

.ares-project-list { width: 300px; }

.ares-project-list .project-list { width: 100%; }

.ares-project-list .hangar { width:7px; position:absolute; left:293px; top:0; bottom:0; right:0; }

.ares-project-list .project-list-title {line-height:50px; height:50px; top:0px; left:0px; right:0px; text-transform:uppercase; color:#000000; text-align:center; font-size:19px;}

.aresmenu .onyx-button {
    color: #ffffff;
    width: 80px;
    cursor: pointer;
    cursor: hand;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 -1px 0 #000000;
    border: none;
    background: none;
    text-align: left;
    padding: 6px 0;
    box-shadow: none;
    border-radius:0;
}

.aresmenu .onyx-button.active,
.aresmenu .onyx-button.pressed {
    border: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.aresmenu button:after{
    position: relative;
    content: url(../ares/assets/images/lsmallArrowDown.png);
    width:25px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
}

.aresmenu button:active:hover:not([disabled]) {
  background-image: none;
  border-top: none;
  box-shadow: none;
}

.aresmenu > .sub-aresmenu {
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    color: #8C8C8C;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    width: 120px;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -pie-border-radius: 4px;
    z-index: 5;
    right: -95%;
}

.onyx-menu-item.aresmenu-button {
    font-size:14px;
    float: left;
    background-color:#FFFFFF;
    margin: 0;
    padding:0 15px;
    cursor:pointer;
    cursor:hand;
    line-height:36px;
    color:#000000; 
    width:100%;
}

.aresmenu-button:hover{
    background: none;
    -o-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.5);
    -ms-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0, 0.5);
}
