.deimos-designer-wrapper {
	margin: 4px 0px 0px;
}
/**/
.deimos_panel {
	position: relative;

	min-height: 20px;
	margin: 0 8px;
	padding: 19px;
	box-sizing: border-box;

	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.deimos_panel_body {
	position: relative;

	min-height: 20px;
	margin: 8px 8px 8px 8px;
	box-sizing: border-box;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.deimos_panel_center {
	position: relative;	//min-height: 20px;
	margin: 0px 0px 0px 8px;
	padding: 8px;
  	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sandbox > *{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.deimos-toolbar.onyx-toolbar {
	padding-top:    4px;
	padding-bottom: 4px;
	font-size: 14px;
}
.deimos-designer-toolbar-spacing {
	margin: 0px 30px 0px 0px !important;
}
.deimos-device-picker {
	width: 160px;
}
.deimos-designer-input {
	width: 3em;
	text-align: center;
}
.onyx-button.deimos-swap-dimensions-button {
	line-height: 0.5em;
}
.deimos-zoom-slider {
	width: 100px;
	margin-right: 10px;
	margin-left:  10px;
}