.hermesFileTree-root {
	font-weight: bold;
}

.hermesFileTree-node {
	font-weight: normal;
}

.hermesFileTree-select-highlight {
	background-color: lightblue;
}

.hermesFileTree-folder-highlight {
	border-color: grey;
	border-style: dotted;
	border-width: 1px;
}