@import "../lib/onyx/css/onyx-rules.less";

/*Onyx rules overrides */

/*onyx button*/

.onyx-button {
	line-height:16px;
	cursor:hand;
	cursor:pointer;
	background: url(../ares/assets/images/hp_ep_sprite_horizontal.png) repeat-x 0px 0px @onyx-button-background;
	background-size: auto;
	min-width:75px;
	position:relative;
	box-shadow: inset 0px .5px 0px rgba(255, 255, 255, 0.2);
	font-weight: 100;
}

.onyx-button[disabled] { zoom:1; }

/*onyx picker*/

.onyx-picker {
	padding:0px;
	color:#8C8C8C;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden; 
}

.onyx-picker-decorator .onyx-button {
	padding:6px 18px;
}

.onyx-picker-decorator .onyx-button:before {
	position: relative; 
	content: url(../ares/assets/images/smallArrowDown.png);
	width:25px; 
	vertical-align: middle;
	display: inline-block;
	float:right;
	margin-right: -20px;
}

/*onyx toolbar*/

.onyx-toolbar .onyx-button { height: 28px; }

/*onyx item*/

.onyx-item {
	padding:10px;
	line-height: 13px;
}

/*onyx input*/

.onyx-input-decorator {
	background-color: #CCCCCC;
	overflow: visible;
	position: relative;
	padding: 5px 5px 3px 8px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: @onyx-input-border-radius;
	-webkit-border-radius: @onyx-input-border-radius;
	box-shadow: 0 1px 0 #F2F2F2, 0 -1px 0 #CCCCCC;
}


.onyx-input-decorator > input {
	height:20px;
	color:#000000;
	width:200px;
}

/*onyx radiobutton*/

.onyx-radiobutton {
	margin-bottom: 15px;
}

/*onyx grabber*/

.onyx-grabber {
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	padding-top:40px;
}

/*==========================*/
body {
	background-color: #aaa;
}

.ares-panels {
	margin-top: 48px;
}

.ares-panels>* {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
}

.ares-panels>*>*{
	width: 100%;
	height: 100%;
	position:relative;
	border: 1px solid #555;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	border-radius: 5px;
}

.ares-top-toolbar{
	border-right: 0px;
	width: 100%;
	height:64px; 
	line-height: 30px;
	border-bottom: 1px solid #222; 
	background:url(../ares/assets/images/hp_ep_sprite_horizontal.png) repeat-x 0px -123px;
	background-size: auto; /*background size is contain in onyx-toolbar css, if missing to change it, problems on safari, bg display all image*/
}

.hermesFileTree-toolbar { height:64px; border-left: 0px; }

.ares-bottom-bar { height: 40px; background-color:#0A0A0A; border-top: 1px solid #050505; padding:0px;}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-docbar-tabs {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ares-docbar-tabs {
	overflow:auto; 
	margin:0px; 
	padding:0px 0px 0px 15px;
}

.ares-docbar-tabs .ares-tab {
	background-color: #0A0A0A;
	float: left; 
	margin: 0px; 
	padding:7px 0px; 
	text-align:center; 
	cursor:pointer; 
	cursor:hand;  
	overflow:hidden; 
	font-size:12px; 
	font-weight:bold; 
	text-shadow:0 -1px 0 #000000; 
	min-width:100px;
	box-shadow: none; 
	border:none;
	height:24px;
	color:#999999;
}

.ares-docbar-tabs .ares-tab.active {
	-o-box-shadow: inset 0px 0px 40px 0px #000000;
	-moz-box-shadow: inset 0px 0px 40px 0px #000000;
	-ms-box-shadow: inset 0px 0px 40px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 40px 0px #000000;
	box-shadow: inset 0px 0px 40px 0px #000000; 
	background: #333; 
	border:none;
	color:#fff;
}

.ares-tab-label {
	display: inline-block;
}

.ares-tab > .ares-doc-close {
	height: 22px;
	width: 22px;
	background-size: 100%;
	margin-top:0;
}

.ares-docbar-container {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

/* Why z-index: 11? Because otherwise, on Opera, parts of the editor show through */
.ares-files-slider {
	width: 100%;
	height: 100%;
	z-index: 11;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.ares-padleft {
	padding-left: 8px;
}

.ares-right-toolbar {
	margin-top:8px;
	text-align: right;
}

.ares-label {
	margin-right: 4px;
	padding-left: 8px;
}

.ares-fixed-label {
	min-width: 82px;
	padding: 0 4px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.ares-small-label {
	min-width: 60px;
	width: 60px;
}

.ares-row {
	padding: 3px 0;
}

.ares-more-row {
	padding: 10px 0;
}

.ares-row .onyx-picker-decorator{
	display: inline-block;
}

.ares-drawer {
	margin-top: 9px;
	background-color: #eaeaea;
	border-radius: 3px;
	padding:4px;
	text-align: right;
}

.ares-drawer>div {
	margin-right: 5px;
}

.ares-drawer:before{
	position: absolute;
	border-color: transparent transparent #eaeaea;
	border-style: solid;
	border-width: 0 7px 10px;
	content: "";
	display: block;
	top: -9px;
	left: 9px;
}

/*file chooser*/
.ares-filechooser, .ares-phonegap-config { height: 400px; width: 625px; }

.ares-filechooser-header { padding: 0 0.5em; vertical-align: middle; }

.ares-filechooser-footer { vertical-align: middle; background: #ffffff; }

.ares-create-sources {
	height: 24%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.ares-left-pane-file-chooser {
	background-color:#FFFFFF;
}

.ares-left-pane-file-chooser > .ares_harmonia_providerList {
	height: 245px;
	width: 100%;
}

.ares-file-choser-row { border-top: 1px solid #999999; }

.ares-file-chooser-label { min-width: 127px; }

/*Project properties popup*/
.ares-project-properties { height: 215px; width: 590px; padding: 5px 10px; margin-top: 15px; }

.ares-radio-group{ padding-top: 7px; }

.ares-radio-group>button {
	line-height: 30px;
	padding: 0px;
	margin:0px;
	background-image: none;
	color: #666666;
	border: 1px solid #999999;
	width: 182px;
}

.ares-radio-group>button.active {
	background-image: none;
	background-color: #0088C2;
	color: #FFFFFF;
	border: 1px solid #0A3654;
	box-shadow: inset 0px 0px 15px #0B4063;
}

.ares-bottom-check {
	height: 8px;
	width: 0;
	position: relative;
	border-bottom: 8px solid #EAEAEA;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: -6px;
	right: 43%;
}

p.break { padding: 1px 0; }

.file-chooser-input { width: 470px; }

.ares-align-right { text-align: right; }

.ares-align-right>button { margin-left:5px; }

input.ares-small-input { width: 75px;}

.ares-margin-right { margin-right: 3px;}

.small-picker { width: 77px; }

.large-picker { width: 150px; }

.middle-width { width: 140px; }

.very-large-width { width: 217px; }

div.large-fixed { width: 80%; }

.ares-large-content { height: 390px; }

.ares-datas>div:not([class="onyx-groupbox-header"]) { cursor:pointer; background-color:rgb(230, 228, 228);}

.ares-datas>div.hover { background-color:#eeeeee; }

.ares-datas>.active {
	background-color:#aaaaaa;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3); }

.ares-group-box>div {
	padding-left: 3px;
	line-height: 1.9;
}

.ares-group-box>.onyx-input-decorator { box-shadow: none; }

.ares-groupbox-item-key, .ares-groupbox-item-value {
	width: 50%;
	display: inline-block;
}

@import "assets/css/Effects.less";
@import "assets/css/Sprites.less";
@import "assets/css/AresPopup.less";
@import "assets/css/cssbuilder.css";
@import "../deimos/source/Deimos.less";
@import "../harmonia/source/Harmonia.less";
@import "../phobos/source/Ace.less";
@import "../preview/Preview.less";
@import "../project-view/ProjectView.less";
@import "../services/assets/css/HermesFileTree.less";
@import "../services/assets/css/HermesNode.less";
