body {
	background-color: #aaa;
}

.ares-panels {
	margin-top: 48px;
}
.ares-panels > * {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
}
.ares-panels > * > * {
	width: 100%;
	height: 100%;
	border: 1px solid #555;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	border-radius: 5px;
	position:relative;
}
.shadow-panels > * {
	-moz-box-shadow: -4px 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0 4px rgba(0,0,0,0.3);
	box-shadow: -4px 0 4px rgba(0,0,0,0.3);
}

/**/

.ares-filechooser {
	height: 400px;
	width: 600px;
}

.ares-filechooser-header {
	padding: 0 0.5em;
	vertical-align: middle;
}

.ares-filechooser-footer {
	padding: 0 0.5em;
	vertical-align: middle;
}

/**/

.ares-groupbox-item-key {
	padding: 0.5em;
}
.ares-groupbox-item-value {
	width: 50%;
	color: #000000;
	float: right;
}
/*onyx spinner gif*/
.ares-waitpopup {
	margin-left: auto;
	margin-right: auto;
	width: 20%; 
}

/**/
.ares_harmonia_providerList {
	width: 30%;
}
.ares_harmonia_providerItems {
	padding: 6px;
}
.ares_harmonia_authPanel {
	padding: 6px;
	width: 70%;
}
#ares_harmonia_hermesFileTree {
	width: 500px;
	border: 2px solid #333;
}
.ares_harmonia_toolBar {
	height: 48px;
	vertical-align: middle;
	padding: 0px;
	border: 0px;
}
/**/
.ares_deimos_left {
	width: 280px;
}
.ares_deimos_right {
	width: 340px;
}
.ares_deimos_componentView {
	height: 200px;
}
.ares_deimos_code {
	height: 240px;
}
/**/
.ares_phobos_left {
	width: 280px;
}
.ares_phobos_right {
	width: 360px;
}
.ares_phobos_autocomp {
	position: absolute;
	z-index: 100;
	width: 140px;
	height: 0px;
	padding: 0px;
	border: 0px;
}
.ares_phobos_autocomp_select {
	z-index: 100;
	width: 140px;
	display: block;
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
}
.ares_phobos_findpop {
	width: 300px;
}
.ares_phobos_settingspop {
	width: 300px;
}
/**/
.border {
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.4);
	/**/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/**/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel {
	position: relative;
	min-height: 20px;
	padding: 19px;
	box-sizing: border-box;
}
.ares_pview_popup {
	width: 600px;
	height: 400px;
}

.ares_projectList {
	width: 370px;
	border-right: 1px solid gray;
}

.ares_projectView_projectList_item {
	padding: 20px 4px 4px; border-bottom: 1px solid gray;
}

.ares_projectView_projectList_item_selected {
	background-color: lightblue;
}

#ares_projectView_projectWizardPopup {
    z-index: 140;

}

#ares_projectView_projectWizardPopup_projectWizard_selectDirectoryPopup {
    z-index: 145;

}

.ares_projectview_label {
	display: inline;
	font-weight: bold;
	padding-right: 4px;
}

.ares_projectview_check {
	margin-right: 16px;
}

.phobos-find-label {
	line-height: 37px;
	font-weight: bold;
	text-align: right;
	margin-right: 4px;
}

.phobos-find-field {
	width: 200px;
}

.ares-scale-background {
	background-size: 100%;
}

.ares-tab {
	display: inline-block;
	padding: 4px 0px 0px 6px;
	background-color: #888; 
}
.ares-tab.active {
	background-color: #888; 
}


.ares-tab-label {
	display: inline-block;
}

.onyx-toolbar .ares-doc-close {
	height: 22px;
	width: 22px;
	background-size: 100%;
	margin-top:0;
}

.ares-docbar-container {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.ares-docbar-container .ares-graber{
	padding-right:15px;
	-webkit-transform:rotate(90deg); 
	-moz-transform:rotate(90deg); 
	-o-transform:rotate(90deg); 
}

/* Why z-index: 11? Because otherwise, on Opera, parts of the editor show through */
.ares-files-slider {
	height: 100%;
	width: 100%;
	z-index: 11;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.ares-actionpopup {
	text-align: center;
	padding: 20px;
}

.ares-title {
	font-size: 19px;
	font-weight: bold;
}

.ares-message {
	padding: 8px;
	vertical-align: middle;
}

.ares-padleft {
	padding-left: 8px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-filedrawer {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ares-docbar-tabs {
	padding-left:15px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-docbar-tabs {
	margin-top: 0px;
	margin-bottom: 0px;
}

.enyo-fittable-columns-layout.enyo-stretch > .onyx-grabber {
	height: 27px;
}


/* Global onyx overrides for Ares, for a more desktop look/feel */

.onyx {
	font-size: 13px;
}
.onyx-popup {
	font-size: 13px;
}
.onyx-input-decorator > input {
	font-size: 13px;
}
.onyx-input-decorator {
	padding:2px 8px;
	margin:0px;
}
.onyx-button {
	font-size: 13px;
	padding:2px 8px;
	margin:0px;
}
.onyx-picker-decorator .onyx-button {
	padding:2px 8px;
	margin:0px;
}

.onyx-radiobutton {
	font-size: 13px;
	padding-top: 8px 4px;
}
.onyx-toolbar .onyx-button {
	height: 28px;
}
.onyx-item {
	padding:10px;
	line-height: 13px;
}

/*Place all inline styles of ares project here*/

/* wait popup phobos/assets/images/save-spinner.gif */
.ares-local-waitpopup { text-align: center; padding: 20px; }
.ares-local-waitpopup img {	width: 54px; height: 55px; }
.ares-local-waitpopup .message { padding-top: 10px; }

.ares-filter { width:100%; margin-top:10px; }
.ares-filter .onyx-icon.search { height: 20px; }

.ares-preview { margin: 4px; background-color: #DDD; }
.ares-preview .ares-device-config { width: 150px; margin: 4px; }
.ares-device-config>:first-child {padding-top: 8px; }
.ares-device-config .onyx-groupbox> *:not(.onyx-groupbox-header) { padding: 7px;}
.ares-device-config .onyx-groupbox .ares-zoom { padding: 4px 0px;}
.ares-device-config .onyx-button.ares-preview-button { padding: 5px; width: 100%; margin-bottom: 5px;}