body {
	background-color: #aaa;
}

.ares-panels {
	margin-top: 48px;
}
.ares-panels > * {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
}
.ares-panels > * > * {
	width: 100%;
	height: 100%;
	border: 1px solid #555;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	border-radius: 5px;
	position:relative;
}
.shadow-panels > * {
	-moz-box-shadow: -4px 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0 4px rgba(0,0,0,0.3);
	box-shadow: -4px 0 4px rgba(0,0,0,0.3);
}

/**/

.ares-filechooser {
	height: 400px;
	width: 600px;
}

.ares-filechooser-header {
	padding: 0 0.5em;
	vertical-align: middle;
}

.ares-filechooser-footer {
	padding: 0 0.5em;
	vertical-align: middle;
}

/**/

.ares-groupbox-item-key {
	padding: 0.5em;
}
.ares-groupbox-item-value {
	width: 50%;
	color: #000000;
	float: right;
}
.ares-waitpopup {
	margin-left: auto;
	margin-right: auto;
	width: 20%; 
}
/**/
.ares_harmonia_providerList {
	width: 30%;
}
.ares_harmonia_providerItems {
	padding: 6px;
}
.ares_harmonia_authPanel {
	padding: 6px;
	width: 70%;
}
#ares_harmonia_hermesFileTree {
	width: 500px;
	border: 2px solid #333;
}
.ares_harmonia_toolBar {
	height: 48px;
	vertical-align: middle;
	padding: 0px;
	border: 0px;
}
/**/
.ares_deimos_left {
	width: 280px;
}
.ares_deimos_right {
	width: 340px;
}
.ares_deimos_componentView {
	height: 200px;
}
.ares_deimos_code {
	height: 240px;
}
/**/
.ares_phobos_left {
	width: 280px;
}
.ares_phobos_right {
	width: 360px;
}
.ares_phobos_autocomp {
	position: absolute;
	z-index: 100;
	width: 140px;
	height: 0px;
	padding: 0px;
	border: 0px;
}
.ares_phobos_autocomp_select {
	z-index: 100;
	width: 140px;
	display: block;
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
}
.ares_phobos_findpop {
	width: 300px;
}
.ares_phobos_settingspop {
	width: 300px;
}
/**/
.border {
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.4);
	/**/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/**/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel {
	position: relative;
	min-height: 20px;
	padding: 19px;
	box-sizing: border-box;
}

.ares_projectList {
	width: 370px;
	border-right: 1px solid gray;
}

.ares_projectView_projectList_item {
	padding: 20px 4px 4px; border-bottom: 1px solid gray;
}

.ares_projectView_projectList_item_selected {
	background-color: lightblue;
}

#ares_projectView_projectWizardPopup {
    z-index: 140;

}

#ares_projectView_projectWizardPopup_projectWizard_selectDirectoryPopup {
    z-index: 145;

}

.ares_projectview_label {
	display: inline;
	font-weight: bold;
	padding-right: 4px;
}

.phobos-find-label {
	line-height: 37px;
	font-weight: bold;
	text-align: right;
	margin-right: 4px;
}

.phobos-find-field {
	width: 200px;
}

.ares-scale-background {
	background-size: 100%;
}

.ares-tab {
	display: inline-block;
	padding: 4px 0px 0px 6px;
	background-color: #888; 
}
.ares-tab.active {
	background-color: #888; 
}


.ares-tab-label {
	display: inline-block;
}

.onyx-toolbar .ares-doc-close {
	height: 22px;
	width: 22px;
	background-size: 100%;
	margin-top:0;
}

.ares-docbar-container {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

/* Why z-index: 11? Because otherwise, on Opera, parts of the editor show through */
.ares-files-slider {
	height: 100%;
	width: 100%;
	z-index: 11;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.ares-actionpopup {
	text-align: center;
	padding: 20px;
}

.ares-title {
	font-size: 19px;
	font-weight: bold;
}

.ares-message {
	padding: 8px;
	vertical-align: middle;
}

.ares-padleft {
	padding-left: 8px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-filedrawer {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ares-docbar-tabs {
	padding-left:15px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-docbar-tabs {
	margin-top: 0px;
	margin-bottom: 0px;
}

.enyo-fittable-columns-layout.enyo-stretch > .onyx-grabber {
	height: 27px;
}


/* Global onyx overrides for Ares, for a more desktop look/feel */

.onyx {
	font-size: 13px;
}

.onyx-popup {
	font-size: 13px;
}

.onyx-input-decorator > input {
	font-size: 13px;
}

.onyx-input-decorator {
	padding:2px 8px;
	margin:0px;
}

.onyx-button {
	font-size: 13px;
	padding:2px 8px;
	margin:0px;
}

/* display : inline-block missing on onyx.PickerDecorator ? */
.onyx-picker-decorator{
	display: inline-block;
}

.onyx-picker-decorator .onyx-button {
	padding:2px 8px;
	margin:0px;
}

.onyx-radiobutton {
	font-size: 13px;
	padding-top: 8px 4px;
	margin-bottom: 15px;
}
.onyx-toolbar .onyx-button {
	height: 28px;
}

.onyx-item {
	padding:10px;
	line-height: 13px;
}

.onyx-input-decorator {
	background-image: url("../ares/assets/images/bgInput.png");
	background-repeat: repeat-x;
	border-radius: 0.5em;
}

.onyx-input-decorator.onyx-focused {
	background-image: none;
}

.ares-bordered-toolbar{
	margin-top:8px;
	text-align: right;
}

.ares-toolbar {
	text-align: right;
	background-image: none;
	background-color: #4C4C4C;
	border: none;
}

.ares-label {
	margin-right: 4px;
	padding-left: 8px;
}

.ares-fixed-label{
	width: 82px;
	padding: 0 4px;
	text-align: right;
	display: inline-block;
}

.more-width{
	width: 118px;
}

.ares-fixed-input{
	width: 160px;
}

.ares-bullet-label {
	margin-left: 40px;
}

.ares-row {
	padding: 3px 0;
}

p.break{
	padding: 1px 0;
}

