/**/
body {
	background-color: #aaa;
}

.ares-panels {
	margin-top: 48px;
}

.ares-panels > * {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
}

.ares-panels > * > * {
	width: 100%;
	height: 100%;
	border: 1px solid #555;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	border-radius: 5px;
	position:relative;
}

/**/

.ares-groupbox-item-key, .ares-groupbox-item-value {
	width: 50%;
	display: inline-block;
}

.ares-waitpopup {
	margin-left: auto;
	margin-right: auto;
	width: 20%; 
}
/**/
.ares_harmonia_providerList {
	width: 30%;
	background-color: transparent;
    border-right: 1px solid #999999;
}
.ares_harmonia_providerItems {
	padding: 6px;
}
.ares_harmonia_authPanel {
	padding: 6px;
	width: 70%;
}
.ares_harmonia_toolBar {
	height: 64px;
	vertical-align: middle;
	padding: 0px;
	border: 0px;
}
/**/
.ares_deimos_left {
	width: 280px;
}
.ares_deimos_right {
	width: 340px;
}
.ares_deimos_componentView {
	height: 200px;
}
.ares_deimos_code {
	height: 240px;
}
/**/
.ares_phobos_left {
	width: 280px;
}
.ares_phobos_right {
	width: 280px;
}
.ares_phobos_autocomp {
	position: absolute;
	z-index: 100;
	width: 140px;
	height: 0px;
	padding: 0px;
	border: 0px;
}
.ares_phobos_autocomp_select {
	z-index: 100;
	width: 140px;
	display: block;
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
}
.ares_phobos_findpop {
	width: 300px;
}

/**/
.border {
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.4);
	/**/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/**/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel {
	position: relative;
	min-height: 20px;
	padding: 19px;
	box-sizing: border-box;
}


#ares_projectView_projectWizardPopup {
    z-index: 140;

}

#ares_projectView_projectWizardPopup_projectWizard_selectDirectoryPopup {
    z-index: 145;

}

.ares_projectview_label {
	display: inline;
	font-weight: bold;
	padding-right: 4px;
}

.phobos-find-label {
	line-height: 37px;
	font-weight: bold;
	text-align: right;
	margin-right: 4px;
}

.phobos-find-field {
	width: 200px;
}

.ares-scale-background {
	background-size: 100%;
}
.ares-top-toolbar{ 
	border-right: 0px;
    width: 100%;
    height:64px; 
    line-height: 30px;
    border-bottom: 1px solid #222; 
    background:url(../ares/assets/images/hp_ep_sprite_horizontal.png) repeat-x 0px -123px;
    background-size: auto; /*background size is contain in onyx-toolbar css, if missing to change it, problems on safari, bg display all image*/
}

.hermesFileTree-toolbar { height:64px; border-left: 0px; }

.ares-bottom-bar {height:40px; background-color:#0A0A0A; border-top: 1px solid #050505; padding:0px;}

.ares-docbar-tabs {
	overflow:auto; 
	margin:0px; 
	padding:0px 0px 0px 15px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-docbar-tabs {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ares-tab {
	background-color: #0A0A0A;
	float: left; 
	margin: 0px; 
	padding:7px 0px; 
	text-align:center; 
	cursor:pointer; 
	cursor:hand; 
	color:#FFF; 
	overflow:hidden; 
	font-size:12px; 
	font-weight:bold; 
	text-shadow:0 -1px 0 #000000; 
	min-width:100px;
	box-shadow: none; 
	border:none;
	height:24px;
	color:#999999;
}
.ares-tab.active {
	-o-box-shadow: inset 0px 0px 40px 0px #000000; 
    -moz-box-shadow: inset 0px 0px 40px 0px #000000;
    -ms-box-shadow: inset 0px 0px 40px 0px #000000;
    -webkit-box-shadow: inset 0px 0px 40px 0px #000000;
    box-shadow: inset 0px 0px 40px 0px #000000; 
    background: #333; 
    border:none;
}


.ares-tab-label {
	display: inline-block;
}

.onyx-toolbar .ares-doc-close {
	height: 22px;
	width: 22px;
	background-size: 100%;
	margin-top:0;
}

.ares-docbar-container {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

/* Why z-index: 11? Because otherwise, on Opera, parts of the editor show through */
.ares-files-slider {
	height: 100%;
	width: 100%;
	z-index: 11;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.ares-actionpopup {
	text-align: center;
	padding: 20px;
}

.ares-title {
	font-size: 19px;
	font-weight: bold;
}

.ares-message {
	padding: 8px;
	vertical-align: middle;
}

.ares-padleft {
	padding-left: 8px;
}

.enyo-fittable-columns-layout.onyx-toolbar-inline > .ares-filedrawer {
	margin-top: 0px;
	margin-bottom: 0px;
}

.file-chooser-input{
	width: 470px;
}


.enyo-fittable-columns-layout.enyo-stretch > .onyx-grabber {
	height: 27px;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	padding-top:40px;
}


/* Global onyx overrides for Ares, for a more desktop look/feel */

.onyx {
	font-family: Arial,'Helvetica Neue', 'Nimbus Sans L', sans-serif;
	font-size: 13px;
}

.onyx-popup {
	font-family: Arial,'Helvetica Neue', 'Nimbus Sans L', sans-serif;
	font-size: 13px;
}

.onyx-button { 
	font-size: 13px;
	line-height:16px; 
	cursor:hand; 
	cursor:pointer;  
    border:1px solid #999999; /* rgba(15,15,15,0.2); */ 
    background: url(../ares/assets/images/hp_ep_sprite_horizontal.png) repeat-x 0px 0px #a7a9ac;
    background-size: auto; 
    min-width:75px; 
    position:relative;
    box-shadow: inset 0px .5px 0px rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 100;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.onyx-button[disabled] {
	opacity:0.25; filter: alpha(opacity=25); zoom:1;
}

.onyx-picker-decorator .onyx-button {
	padding:6px 18px; /*needs to be specifyed, without It herits of padding of onyx-picker-decorator in onyx.css*/
}

.onyx-picker-decorator .onyx-button:before{ 
	position: relatve; 
	content: url(../ares/assets/images/smallArrowDown.png); 
	width:25px; 
	vertical-align: middle; 
	display: inline-block;
	float:right;
	margin-right: -20px;
}

.onyx-picker{ 
	padding:0px;z-index:10; 
	text-align:left; 
	background-color:#FFFFFF; 
	font-size:13px; 
	color:#8C8C8C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    overflow:hidden; 
}

.onyx-radiobutton {
	font-size: 13px;
	padding-top: 8px 4px;
	margin-bottom: 15px;
}

.onyx-toolbar .onyx-button { height: 28px; }
.onyx-item {
	padding:10px;
	line-height: 13px;
}

.onyx-item { padding:10px; line-height: 13px; }

.onyx-input-decorator {
	overflow: visible; 
    position: relative; 
    background-color: #CCCCCC;  
    padding: 5px 5px 3px 8px; 
    border: 1px solid #CCCCCC;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 0 #F2F2F2, 0 -1px 0 #CCCCCC;
}

.onyx-input-decorator > input { font-size: 13px; border:none; background:none; height:20px;  color:#000000; width:200px; outline:none;}

.onyx-groupbox >* {
	font-size: 13px;
}

.ares-bordered-toolbar{
	margin-top:8px;
	text-align: right;
}

.ares-toolbar {
	text-align: right;
	background-image: none;
	background-color: #4C4C4C;
	border: none;
}

.ares-label {
	margin-right: 4px;
	padding-left: 8px;
}

.ares-fixed-label{
	min-width: 82px;
	padding: 0 4px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.ares-fixed-input{
	width: 161px; 
}
.ares-small-label{
	min-width: 60px;
	width: 60px;
}
.ares-bullet-label {
	margin-left: 40px;
}

.ares-row {
	padding: 3px 0;
}
.ares-more-row{
	padding: 10px 0;
}
.ares-drawer{
	margin-top: 9px;
	background-color: #eaeaea;
	border-radius: 3px;
	padding:4px;
	text-align: right;
}

.ares-drawer>*{
	margin-right: 5px;
}

.ares-row .onyx-picker-decorator{
	display: inline-block;
}

.ares-drawer:before{
    position: absolute;
    border-color: transparent transparent #eaeaea;
    border-style: solid;
    border-width: 0 7px 10px;
    content: "";
    display: block;
    top: -9px;
    left: 9px;
}

p.break{
	padding: 1px 0;
}

.ares-classic-popup {
	box-shadow:0px 0px 10px #000000;
	background-color:#FFFFFF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color: #000000;
	padding:0px;
}

.ares-classic-popup > .title {
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	padding-left: 20px;
	background-color: #CCCCCC;
	text-transform: uppercase;
	border-bottom: 2px solid #999999;
	border-radius: 6px 6px 0px 0px;
}

.ares-classic-popup >.title.left-align{ padding-left: 6px; }

.ares-classic-popup > .bottom-toolbar {
	position: relative;
	background-image: none;
	background-color: #CCCCCC;
	padding: 7px;
	border:0px;
	border-top: 1px solid #999999;
	-moz-border-radius:0px 0px 6px 6px;
	-webkit-border-radius:0px 0px 6px 6px;
	border-radius:0px 0px 6px 6px;
}

.bottom-toolbar>.onyx-button { background-color: transparent; border: 1px solid #999999; margin:0px;}
.ares-small-popup {width:320px; height:150px; padding: 5px 10px;}
.ares-small-popup-details { position:relative; width: 300px; word-wrap: break-word;}
.ares-small-popup-details { padding-top: 10px; position:relative; }
.ares-small-popup-details { border: none; color:#000000; background: transparent; height: auto; padding-left:10px; text-align: left; }
/*error popup*/
.ares-error-popup { width:340px; min-height:170px; padding: 5px 10px;}
.ares-error-text { width: 98%; margin:5px 0px; height: 105px; resize: vertical;}
.ares-error-details .button { padding-top: 10px; position:relative; }
.ares-error-details .label { border: none; color:#000000; background: transparent; height: auto; padding-left:10px; text-align: left; }
.ares-error-drawer {padding-top:3px;}

.bottom-toolbar>.onyx-button.right {position: absolute; right: 7px; }
.ares-masked-content-popup { background: none; box-shadow: none; border:none;}

/*file chooser*/
.ares-filechooser, .ares-phonegap-config { height: 400px; width: 625px; }
.ares-filechooser-header { padding: 0 0.5em; vertical-align: middle; }
.ares-filechooser-footer { vertical-align: middle; background: #FFFFFF; }
.ares-create-sources {
    height: 24%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.ares-left-pane-file-chooser{
	background-color:#FFFFFF;
}
.ares-left-pane-file-chooser > .ares_harmonia_providerList{
    height: 245px;
    width: 100%;
}

.ares-file-choser-row { border-top: 1px solid #999999;}
.ares-file-chooser-label { min-width: 127px; }
.ares-content-popup { width:409px; height:240px; padding: 5px 10px; }

/*Project properties popup*/
.ares-project-properties { height: 215px; width: 590px; padding: 5px 10px; margin-top: 15px; }
.ares-radio-group{ padding-top: 7px; }
.ares-radio-group>button{
	line-height: 30px;
	padding: 0px;
	margin:0px;
	background-image: none;
	color: #666666;
	border: 1px solid #999999;
	width: 182px;
}
.ares-radio-group>button.active{
	background-image: none;
	background-color: #0088C2;
	color: #FFFFFF;
	border: 1px solid #0A3654;
	box-shadow: inset 0px 0px 15px #0B4063;	
}

.ares-bottom-check{
	height: 8px;
	width: 0px;
	position: relative;
	border-bottom: 8px solid #EAEAEA;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: -6px;
	right: 43%;
}

.ares-align-right{ text-align: right;}
.ares-align-right>button{margin-left:5px;}
input.ares-small-input{	width: 75px;}
.ares-margin-right{ margin-right: 3px;}
.small-picker{ width: 77px; }
.large-picker{ width: 150px; }
.middle-width{ width: 140px; }
.very-large-width{ width: 217px; }
div.large-fixed{ width: 80%; }

.ares-large-content{ height: 390px; }
.ares-datas>div:not([class="onyx-groupbox-header"]) {cursor:pointer; background-color:rgb(230, 228, 228);; }
.ares-datas>div.hover { background-color:#EEEEEE; }
.ares-datas>.active { background-color:#AAAAAA; box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3); }
.ares-group-box>div {
	padding-left: 3px;
	line-height: 1.9;
}
.ares-group-box>.onyx-input-decorator{ box-shadow: none; }

