body {
	background-color: #aaa;
}
/**/
#ares_harmonia_providerList {
	width: 320px;
	border: 2px solid #333;
}
#ares_harmonia_hermesFileTree {
	width: 500px;
	border: 2px solid #333;
}
.ares_harmonia_toolBar {
	height: 66px;
}
/**/
#ares_deimos {
	position: relative;
	width: 1400px;
	width: 100%;
}
#ares_deimos_left {
	width: 280px;
}
#ares_deimos_right {
	width: 340px;
}
#ares_deimos_componentView {
	height: 240px;
}
#ares_deimos_code {
	height: 240px;
}
/**/
#ares_phobos {
	position: relative;
	width: 1400px;
	width: 100%;
	border: 2px solid #333;
}
#ares_phobos_left {
	width: 280px;
}
#ares_phobos_right {
	width: 360px;
}
.ares_phobos_autocomp {
	position: absolute;
	z-index: 100;
	width: 140px;
	height: 0px;
	padding: 0px;
	border: 0px;
}
.ares_phobos_autocomp_select {
	z-index: 100;
	width: 140px;
	display: block;
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
}
.ares_phobos_findpop {
	background-color:	#008400;
	color: #000000;
}
/**/
.border {
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.4);
	/**/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/**/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel {
	position: relative;
	min-height: 20px;
	padding: 19px;
	box-sizing: border-box;
}
.ares_pview_popup {
	width: 600px;
	height: 400px;
}

#ares_projectView_projectList {
	width: 350px;
	border-right: 1px solid gray;
}

.ares_projectView_projectList_item {
	padding: 20px 4px 4px; border-bottom: 1px solid gray;
}

.ares_projectView_projectList_item_selected {
	background-color: lightblue;
}

#ares_projectView_projectWizardPopup {
    z-index: 140;

}

#ares_projectView_projectWizardPopup_projectWizard_selectDirectoryPopup {
    z-index: 145;

}
