
#ares_bottomBar {height:40px; background-color:#0A0A0A; border-top: 1px solid #050505; padding:4px;}
#ares_projectView_projectList_toolbar, #ares_projectView_harmonia_hermesFileTree_toolbar { 
    height:62px; 
    border-bottom: 1px solid #222; 
    background:url(../images/hp_ep_sprite_horizontal.png) repeat-x 0px -123px;
    padding: 0px;
}
#ares_projectView_harmonia_hermesFileTree_toolbar { height:64px; border-left: 0px; }
#ares_projectView_projectList_toolbar { border-right: 0px; }
#ares_projectView_harmonia_hermesFileTree_scroller [id$="serverNode_caption"]:{padding: 0px;}
