.css-editor-category {
	 border-radius: 4px; 
	 border: 1px solid #D0D0D0; 
	 margin-bottom: 1px;
}

.css-editor-category-name {
	padding: 5px; 
	background-color: #CCC; 
	text-transform: uppercase; 
	font-weight: bold;
	vertical-align: middle;
}

.css-editor-item {
	background-color: #F5F5F5; 
	border-bottom: 1px solid #D0D0D0; 
	padding: 4px;
}

.css-editor-item > * {
	display: inline-block;
}

.css-editor-indicator {
	height: 16px;
	width: 16px;
	padding-right: 5px;
	background-image: url('../../../../assets/enyo-editor/deimos/images/triangle.png');
	background-repeat: no-repeat;
	background-position-y: 0px;
	display: inline-block;
}

.css-editor-turned {
	background-position-y: -16px;
}

.css-editor-field-caption {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 4px;
}

.css-editor-field-editor {
	width: 4rem;
}

.css-editor-select {
	display: inline-block; 
	width:30px;
}


.css-editor-select-box {
	display: inline-block;
	width: 60px;
	white-space:normal;
	
}

.css-editor-select-box > .inspector-field-editor {
	width: 4rem;
}

.css-editor-picker-decorator .onyx-button {
padding: 2px 18px;
}
